.align-items-baseline {
  align-items: baseline !important;
}

$spaceamounts: (
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.25}rem !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space 0.25}rem !important;
    }
  }

  .m-#{$space} {
    margin: #{$space * 0.25}rem !important;
  }

  .p-#{$space} {
    padding: #{$space * 0.25}rem !important;
  }

  .m-x-#{$space} {
    margin-left: #{$space * 0.25}rem !important;
    margin-right: #{$space * 0.25}rem !important;
  }

  .p-x-#{$space} {
    padding-left: #{$space * 0.25}rem !important;
    padding-right: #{$space * 0.25}rem !important;
  }

  .m-y-#{$space} {
    margin-top: #{$space * 0.25}rem !important;
    margin-bottom: #{$space * 0.25}rem !important;
  }
  .p-y-#{$space} {
    padding-top: #{$space * 0.25}rem !important;
    padding-bottom: #{$space * 0.25}rem !important;
  }
}
