@import 'variables';

.notesToolbar {
  border-bottom: 3px solid $gray-300;
  top: 0;
  left: 0;
  right: 0;
}

.addNoteFormContainer {
  position: absolute;
  top: 100%;
  border-bottom: 3px solid $gray-300;
  width: 100vw;
  background-color: $light;
}
