@import 'variables';

.navigationLink {
  position: relative;

  a {
    transition: color 0.2s ease;
  }

  &:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: $green;
    left: 0;
    bottom: 3px;
  }

  &:hover:before {
    animation: underline 0.3s linear forwards;
  }

  &_active:before {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.brandFigure {
  margin-right: 0.5rem;
  position: relative;
  top: -0.125rem;
  margin-bottom: 0;
}

.brandFigureImg {
  margin-bottom: 0;
}

.navigationBar_home {
  background-color: rgba($color: #000000, $alpha: 0);
  position: absolute;
  width: 100%;
  z-index: 100;
}
